@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  padding: 2em;
  background: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;

  textarea, button, input {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
  }
}